.sider {
    background: #ffffff !important;
}

.button-folder {
    margin: 4px 0;
    display: flex;
    justify-content: space-around;
}

.folder-button {
    width: 100%;
    max-width: 270px;
    background-color: black;
    border-color: #d9d9d9;
    color: white;
    text-align: center;
    display: flex;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.folder-button:hover {
    background-color: #333333 !important;
    color: black !important;
    border-color: #f0f0f0 !important;
}

@media (max-width: 768px) {
    .folder-button {
        max-width: 100%;
        font-size: 12px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .folder-button {
        font-size: 12px;
        height: 35px;
        padding: 0 8px;
    }
}

.title-folder {
    margin: 0 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    color: white !important;
}

.content {
    padding: 24px;
    margin: 0;
    min-height: 280px;
}

.profile {
    border-bottom: #000000 10px solid;
}

.folder-icon {
    color: white;
    font-size: 21px;
}

.layout-home {
    min-height: 100vh;
    background-color: #000000;
}