.profile-container {
    padding: 16px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    position: relative;
}

.avatar-container {
    position: relative;
    align-items: center;
}

.avatar {
    cursor: pointer;
    border: 3px solid #000000;
    transition: opacity 0.3s;
    margin-right: 8px;
}

.avatar-hover {
    opacity: 0.8;
}

.icon {
    font-size: 21px;
    cursor: pointer;
}

.badge-container {
    margin-top: 22px;
}

.dropdown-icon {
    color: black !important;
    font-size: 21px;
    cursor: pointer;
}

.space {
    display: flex;
    gap: 35px;
    margin-right: 10px;
}