.modal-container .ant-modal-content {
    background-color: #ffffff !important;
}

.modal-container {
    background-color: #110e4a;
    border-radius: 20px;
    box-shadow: none;
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
}

.upload-avatar {
    width: 80px;
    height: 80px;
    background-color: #777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-icon {
    font-size: 90px;
    color: #FFF;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-icon {
    cursor: pointer;
    border: 1px solid black;
    transition: opacity 0.3s;
}

.avatar-icon.hover {
    opacity: 0.8;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.profile-name {
    margin: 0;
}

.profile-name-input {
    width: 100%;
}

.edit-icon {
    margin-left: 10px;
    color: #777;
    margin-bottom: 8px;
}

.bio-textarea {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    color: #555;
}

.button-group {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
}

.cancel-button {
    background-color: #C4C4C4;
    color: #555;
    border-radius: 20px;
}

.save-button {
    background-color: #110e4a;
    color: #FFF;
    border: 1px solid #110e4a;
    border-radius: 20px;
}

.user-code {
    font-size: 12px;
    color: #6c757d;
    background-color: #e9ecef;
    border-radius: 4px;
    padding: 4px 8px;
    text-align: center;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #ced4da;
}